body {
  display: flex;
  font-family: chalkduster;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 145, 92);
  padding: 20px 70px 170px 0px;
  margin: auto;
  flex: auto;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-left: 125px;
}
.new-drawing-btns-container {
  display: flex;
  flex: auto;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 450px;
  margin-left: 10px;
}
.pencil {
  height: 60px;
  width: auto;
  margin: 0px 35px 0px 30px;
  padding: 0px;
}
.paper-btn {
  border-radius: 10px;
  margin: 3px;
  background-color: rgb(255, 255, 133);
}
.color-btns-and-paper {
  display: flex;
}
.color-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 0px auto 20px auto;
}
.black-btn,
.red-btn,
.green-btn,
.blue-btn,
.random-btn {
  height: 30px;
  width: 30px;
}
.black-btn {
  background-color: black;
}
.red-btn {
  background-color: red;
}
.green-btn {
  background-color: green;
}
.blue-btn {
  background-color: blue;
}
.random-btn {
  background-color: rgb(255, 255, 133);
  font-size: 20px;
}
.paper {
  display: flex;
  background-color: hsl(47, 36%, 95%);
  height: 320px;
  width: 320px;
  flex-wrap: wrap;
}

.div-16x16 {
  height: 20px;
  width: 20px;
}
.div-32x32 {
  height: 10px;
  width: 10px;
}
.div-64x64 {
  height: 5px;
  width: 5px;
}
.active-button {
  height: 40px;
  width: 40px;
}
