body {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 50px 100px 50px 100px;
  margin: auto;
  flex: auto;
}
.new-drawing-btns-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 320px;
}
.color-btns-and-paper {
  display: flex;
}
.color-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.black-btn,
.red-btn,
.green-btn,
.blue-btn {
  height: 30px;
  width: 30px;
}
.black-btn {
  background-color: black;
}
.red-btn {
  background-color: red;
}
.green-btn {
  background-color: green;
}
.blue-btn {
  background-color: blue;
}
.paper {
  display: flex;
  background-color: white;
  height: 320px;
  width: 320px;
  flex-wrap: wrap;
}

.div-16x16 {
  height: 20px;
  width: 20px;
}
.div-64x64 {
  height: 5px;
  width: 5px;
}
